<%- include ("./header") %>

    <%- include ("./navbar") %>

        <header id="hero">
            <div class="container">
                <div class="intro-text">
                    <h1 style="font-weight: bold;" class="text-white">
                        NODE - EXPRESS - MONGODB
                        - PHP
                    </h1>
                    <p style="font-size: 17px;">
                        Sed ut perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                    </p>
                    <button style="font-size: 14px;" class="main-btn">Başlayın!</button>
                </div>
            </div>
        </header>

        <section id="about" class="md-padding">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4 offset-md-4">
                        <div class="section-header">
                            <h2 style="font-weight: bold;" class="title">Services</h2>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="about">
                            <i class="fas fa-cogs"></i>
                            <h3 style="font-weight: bold">Lorem Ipsum</h3>
                            <p style="font-size: 17px;">
                                Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium.
                            </p>
                            <a style="color: black; font-weight: bold" href="/about">İncele</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about">
                            <i class="fas fa-magic"></i>
                            <h3 style="font-weight: bold">Lorem Ipsum</h3>
                            <p style="font-size: 17px;">
                                Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium.
                            </p>
                            <a style="color: black; font-weight: bold" href="/about">İncele</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about">
                            <i class="fas fa-mobile"></i>
                            <h3 style="font-weight: bold">Lorem Ipsum</h3>
                            <p style="font-size: 17px;">
                                Sed ut perspiciatis unde omnis iste natus
                                error sit voluptatem accusantium doloremque laudantium.
                            </p>
                            <a style="color: black; font-weight: bold" href="/about">İncele</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="blog" class="generic">
            <div class="container">
                <h2 style="font-weight: bold;" class="what">WHAT WE SAY</h2>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card bg-light border-0" style="bottom: 50px">
                            <img src="../assets/img/blog1.jpg" class="card-img-top rounded-0">
                            <div class="card-body ps-3">
                                <h5 style="font-size: 25px;" class="lead text-uppercase text-dark mb-4">
                                    5 OUTRAGEOUS IDEAS FOR YOUR TECHNOLOGY
                                </h5>
                                <h6 style="font-size: 16px; font-weight: bold;"
                                    class="card-title text-uppercase text-dark">
                                    ARMANDO DIEGO
                                </h6>
                                <p style="font-size: 15px;" class="card-text">
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam
                                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto ...
                                </p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <small class="text-muted">
                                            <i class="bi bi-clock">
                                                <span style="font-size: 13px; font-weight: bold;" class="align-middle">
                                                    2 Days Ago |
                                                </span>
                                            </i>
                                        </small>
                                    </li>
                                    <li class="list-inline-item">
                                        <small class="text-muted">
                                            <span style="font-size: 13px; font-weight: bold;" class="align-middle">
                                                <i class="bi bi-chat-left-text">
                                                    10
                                                </i>
                                            </span>
                                        </small>
                                    </li>
                                    <a class="align-middle"
                                        style="margin-left: 20px; margin-bottom: 20px; color: black; font-weight: bold"
                                        href="about.html">Okumak İçin Tıklayın</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="statement" class="md-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 style="font-size: 30px;" class="text-black lead">
                            Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor
                            <br>
                            incididunt
                            ut labore et dolore magna aliqua.
                        </h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="features" class="md-padding">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-4 offset-md-4">
                        <div class="section-header">
                            <h2 style="font-weight: bold;" class="title">Features</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: 16px; font-weight: bold;">
                            Sed ut perspiciatis unde
                            omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                        </p>
                        <div class="feature">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <i class="far fa-edit"></i>
                                </div>
                                <div class="col-md-10">
                                    <h5 style="font-size: 17px; font-weight: bold">FEATURE 01</h5>
                                    <h4>LOREM IPSUMAT</h4>
                                    <p style="font-size: 15px;">
                                        Sed ut perspiciatis unde omnis iste natus
                                        error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <i class="far fa-edit"></i>
                                </div>
                                <div class="col-md-10">
                                    <h5 style="font-size: 17px; font-weight: bold">FEATURE 01</h5>
                                    <h4>LOREM IPSUMAT</h4>
                                    <p style="font-size: 15px;">
                                        Sed ut perspiciatis unde omnis iste natus
                                        error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <i class="far fa-edit"></i>
                                </div>
                                <div class="col-md-10">
                                    <h5 style="font-size: 17px; font-weight: bold">FEATURE 01</h5>
                                    <h4>LOREM IPSUMAT</h4>
                                    <p style="font-size: 15px;">
                                        Sed ut perspiciatis unde omnis iste natus
                                        error sit voluptatem accusantium doloremque laudantium.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div id="features-slide" class="owl-carousel owl-theme">
                            <img src="../assets/img/about1.jpg" class="img-fluid">
                            <img src="../assets/img/about2.jpg" class="img-fluid">
                            <img src="../assets/img/about1.jpg" class="img-fluid">
                            <img src="../assets/img/about2.jpg" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <%- include ("./footer") %>