<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">Version:|0:1:2</h1>
</section>

<section id="aboutus" class="md-padding">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-4 offset-md-4">
        <div class="section-header">
          <h2 class="title">Güncellemeler<h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

      <div class="col-md-6">
        <div class="bg-main text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <p class="mb-3 text-white">İlk Güncelleme...
                Hatalar Fixlendi.
                Buglar Kapatıldı.
                Yeni Özellikler Eklendi.
                Yeni Yama Notları Açıklandı.
                Yapılacaklar Listesi Genişletildi (Aşağıda Yazıyor)
                Geliştirici Modelleri Genişletildi.
                Moderatör Alımları Başladı.
                Kategori,Post,Aratma,İletişim,vs.. İşlemleri Aktif.
                <br />
                <br />Yapılacaklar Listesi |
                1- Video İçerik Paneli
                2- Vsco Benzeri Bir Sistem
                3- Discord Botları İle Entegre Etme
                4- Gelişmiş UI
                5- Gelişmiş Pagination Sistemi
                6- Bug Fix
                7- Güvenlik Yazılımları
                Gibi Şeyler Mevcut
                
                İlk Güncelleme Tarihi 17.05.2021 > Version:|0:1:2
                İkinci Güncelleme Tarihi 01.06.2021 > Version:|0:2:1
                V1 Güncellemesi Tarihi Bilinmiyor > Version:|1:2:0
                V2 Güncellemesi Tarihi Bilinmiyor > Version:|2:1:0
                </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
