<section class="page-image page-image-contact md-padding">
  <h1 class="text-white text-center">Post Düzenle!</h1>

</section>

<section id="aboutus" class="md-padding">
  <div class="container">
  </div>
</section>

<section id="contact" class="md-padding">

  <div class="row">
    <div class="col-lg-12">
      <form action="/admin/posts/edit-image/{{post._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="PUT">
        <div class="row">
          <div class="offset-2 col-md-8">
            <h3>Postun Resmini Düzenler</h3>
            <div class="form-group mb-5">
              <input class="form-control" name="post_image" type="file"
                data-validation-required-message="Lütfen Postu Yüklemek İçin Bir Fotoğraf Seçin!" />
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <!-- Create Area -->
          <div class="clearfix"></div>
          <div class="col-lg-12 text-center">
            <div id="success"></div>
            <button class="main-btn" type="submit">Resmi Düzenle</button>
          </div>
          <!-- Create Area -->

        </div>
      </form>
    </div>
  </div>

  </div>
</section>