<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin">Uranusflix Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" aria-current="page" href="/users/register">Kullanıcı Ekle</a>
      <a class="nav-link active" aria-current="page" href="/admin/contacts">İletişim Mesajlarına Bak</a>
      <a class="nav-link active" aria-current="page" href="/admin/posts">Postlara Göz At</a>
      <a class="nav-link active" aria-current="page" href="/posts/new">Post Ekle</a>
      <a class="nav-link active" aria-current="page" href="/admin/categories">Kategori Ekle / Sil</a>
    </div>
  </div>
</nav>