<section id="about" class="md-padding">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 offset-md-4">
        <div class="section-header">
          <h2 class="title">Kullanabilceğiniz İşlemlerimiz!</h2>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="about">
          <i class="fas fa-video"></i>
          <h3>Film İncelemelerine Bakma</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about">
          <i class="fas fa-camera"></i>
          <h3>Seyahat Fotoğrafları,Blog Yazıları</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="about">
          <i class="fas fa-edit"></i>
          <h3>Filmler İçin Özel Hazırlanmış Edit Videoları!</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="statement" class="md-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-black lead">If Someone Breaks Their Heart ...
Take a break from talking to him, it will be good for both parties or it could hurt you or him more.</h4>
      </div>
    </div>
  </div>

</section>

<section id="features" class="md-padding">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 offset-md-4">
        <div class="section-header">
          <h2 class="title">Sosyal Medya Alanımız!</h2>
          <h3>Developed By Eukqla | Thanks For The Theme Arin Software</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>Bizlere Aşağıdaki Alanlardan Ulaşabilir Ve Daha Çok İletişime Geçebilirsiniz!</p>
        <div class="feature">
          <div class="row">
            <div class="col-md-2 text-right">
              <i class="far fa-heart"></i>
            </div>
            <div class="col-md-10">
              <h5>Astreflix</h5>
              <h4>Discord</h4>
              <p>Discord Adresimize Gelip Bizlerle Sohbet Etme Şansı Yakalamakla Beraber Güzel Vakit Geçirebiliriz.
                Eğer Gerekli Mülakattan Geçerseniz Sizleri Moderatör Olarak Alabiliriz!
                Bizimle İletişime Geçmeyi Unutmayın!
              </p>
              
            </div>
            
          </div>
        </div>
        <div class="feature">
          <div class="row">
            <div class="col-md-2 text-right">
              <i class="far fa-caret-square-up"></i>
            </div>
            <div class="col-md-10">
              <h5>Uranusflix</h5>
              <h4>Instagram</h4>
              <p>Instagram Sayfamızdan Takip Etmeyi Unutmayın!
                Gerekli Linkler Aşağıda Bulunmakta.
              </p>
              <a href="https://discord.gg/6Dgbe99e">Discord İçin
              </a>
              <a class="col-md-5" href="https://discord.gg/6Dgbe99e">Instagram İçin
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div id="features-slide" class="owl-carousel owl-theme">
          <img src="img/04.jpg" class="img-fluid" />
          <img src="img/04.jpg" class="img-fluid" />
          <img src="img/04.jpg" class="img-fluid" />
          <img src="img/04.jpg" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>