<header id="hero">
  <div class="container">
    <div class="intro-text">
      <h1 class="text-white">Uranusflix: Movies | Photos | Travel And Entertainment</h1>
      <p>Movies, Beautiful Photos, Travel Destinations, Blog Posts and Many More in Uranusflix Project ...
Come Now And Start Examining Us.</p>
    </div>
  </div>
</header>